{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   <meta charset="utf-8">
	<title>SurajPortfolio</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
   <header id="home">
      <nav id="nav-wrap">
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> 
      </nav>
      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Suraj Tiwari.</h1>
            <h3>Working as Associate Software Engineer in Baryons Software Solutions.com.</h3>
            <h3>I'm a web development based <span>django developer</span> Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://twitter.com/Beingsuraj10"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/suraj-tiwari-411a69174/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/techiesuraj/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://secure.skype.com/portal/profile"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>
      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>
   </header> 
   <section id="about">
      <div class="row">
         <div class="three columns">
            <img class="profile-pic"  src="{% static 'images/prof_suraj.jpg' %}" alt="" />
         </div>
         <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>Working as Associate Software Engineer in Baryons Software Solutions.com .
				Hands on experience in working with Python, Django, Jquery, ajax, MySQL.
				Experience in doing web application projects for Python/Django.
				Experience in SQL programming using an RDBMS like MySQL.
				Expert in Django's CRUD functionalities.
				Proficient in Django class based views, routing, template creation, object oriented mapping etc.
            </p>
            <div class="row">
               <div class="columns contact-details">
                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Suraj Tiwari</span><br>
						   <span>Bangalore<br>
						         Karnatka
                     </span><br>
						   <span>7049360950</span><br>
						   <span>surajtiwari4970@gmail.com</span><br>
					   </p>
               </div>
               <div class="columns download">
                  <p>
                     <a href="{% static 'Profile.pdf' %}" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
                  <h2><a class="columns" href="mailto:surajtiwari4970@gmail.com">MAIL ME</a></h2>
               </div>
            </div> 
         </div> 
      </div>
   <section id="resume">
      <div class="row education">
         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>Rajiv Gandhi Prodyogiki Vishwavidyalaya</h3>
                  <p class="info">Bachelor of Engineering<span>&bull;</span> <em class="date">july 2015 - may 2019</em></p>
                  <p>
                  Activities and Societies: I have done one major project on my college days on library management system
                    library management system is a project which aims in developing a computerized system to maintain all the daily work of a library.
                  </p>
               </div>
            </div> 
         </div> 
      <div class="row work">
         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>
         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <h3>Awesome Web Development</h3>
                  <p class="info">Associate Software Engineer <span>&bull;</span> <em class="date">March 2019 - Present</em></p>
                  <p>
                 A demonstrated history of working in the information technology industry.
					Skilled in Python, Django, Django Rest Framework,Jquery, ajax, MySQL, HTML, CSS.
					Expert in Django's CRUD functionalities.
                  </p>
               </div>
            </div> 
         </div> 
      </div> 
      <div class="row skill">
         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>
         <div class="nine columns main-col">
            <p>Hands on experience in working with Python, Django, Jquery, ajax, MySQL.
                Experience in doing web application projects for Python/Django.
                Experience in SQL programming using an RDBMS like MySQL.
                Expert in Django's CRUD functionalities.
                Proficient in Django class based views, routing, template creation, object oriented mapping etc.
            </p>
				<div class="bars">
				   <ul class="skills">
				   <li><span class="bar-expand css"></span><em>DJANGO</em></li>
                  <li><span class="bar-expand html5"></span><em>PYTHON</em></li>
                  <li><span class="bar-expand html5"></span><em>AJAX</em></li>
                  <li><span class="bar-expand html5"></span><em>JQUERY</em></li>
						<li><span class="bar-expand photoshop"></span><em>CSS</em></li>
						<li><span class="bar-expand illustrator"></span><em>HTML</em></li>
					</ul>
				</div>
			</div> 
      </div> 
   </section> 
   
   <section id="portfolio">
      <div class="row">
         <div class="twelve columns collapsed">
            <h1>Check Out Some of My Works.</h1>
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
          	   <div class="columns portfolio-item big-size">
                  <div class="item-wrap">
                     <a href="#modal-01" title="">
                        <img alt="" src="{% static 'images/transform.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>TRANSFORM</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
          		</div>
               <div class="columns portfolio-item big-size">
                  <div class="item-wrap">
                     <a href="#modal-02" title="">
                        <img alt="" src="{% static 'images/ccrh.png' %}">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>CCRH</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
            </div> 
         <div id="modal-01" class="popup-modal mfp-hide">
		      <img class="scale-with-grid" src="{% static 'images/transform.png' %}" alt="" />
		      <div class="description-box">
			      <h4>TRANSFORM</h4>
			      <p>Transform has introduced an innovative process based approach designed for the youth of today. Our software is systematic and experiential in nature, backed with enriched data sets and tools, to engage students meaningfully, connecting their learning</p>
               <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
		      </div>
            <div class="link-box">
               <a href="https://www.mytransform.com/en/" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>
	      </div>
         <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="{% static 'images/ccrh.png' %}" alt="" />
		      <div class="description-box">
			      <h4>CCRH</h4>
			      <p>A resource aimed at providing clinicians, researchers, medical students, patients, regulators and policy makers  a starting place to explore content and identify treatment trends , morbidity patterns, improvements in quality of life and assessing cure rates of common and rare clinical conditions (ICD-10) using homoeopathic intervention..</p>
               <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
		      </div>
            <div class="link-box">
               <a href="https://ccrhstaging.baryons.net/en/" target="_blank">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>
	      </div>
      </div> 
   </section> 
   <section id="testimonials">
      <div class="text-container">
         <div class="row">
            <div class="two columns header-col">
               <h1><span>Client Testimonials</span></h1>
            </div>
            <div class="ten columns flex-container">
               <div class="flexslider">
                  <ul class="slides">
                     <li>
                        <blockquote>
                           <p>Be a yardstick of quality. Some people aren't used to an environment where excellence is expected.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> 
                     <li>
                        <blockquote>
                           <p>By giving people the power to share, we're making the world more transparent.
                           </p>
                           <cite>Mr. Mark Elliot Zuckerberg</cite>
                        </blockquote>
                     </li> 
                     <li>
                        <blockquote>
                           <p>If you don't really have a dream, you can't really push yourself; you don't really know what the target is
                           </p>
                           <cite>Mr. MS Dhoni</cite>
                        </blockquote>
                     </li> 
                  </ul>
               </div>
            </div> 
         </div>
       </div>  
       
   </section> 
   <section id="contact">
         <div class="row">
            <aside class="four columns footer-widgets">
               <div class="widget widget_contact">
					   <h4>Address and Phone</h4>
					   <p class="address">
						   Suraj Tiwari<br>
						   Bangalore<br>
						   Karnatka<br>
						   <span>7049360950</span>
					   </p>
				   </div>
            </aside>
      </div>
   </section> 
   <footer>
      <div class="row">
         <div class="twelve columns">
            <ul class="social-links">
               <li><a href="https://twitter.com/Beingsuraj10"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/suraj-tiwari-411a69174/"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/techiesuraj/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://secure.skype.com/portal/profile"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>
      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
   </footer> 
   
  <link rel="stylesheet" href="{% static 'css/default.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="shortcut icon" href="{% static 'favicon.png' %}">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.min.js' %}"><\/script>')</script>
<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/waypoints.js' %}"></script>
<script src="{% static 'js/jquery.fittext.js' %}"></script>
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

</body>
</html>